[alias]
  pr = pull --rebase
  st = status
  co = checkout
  unstage = reset HEAD --
  fuck = reset HEAD --hard

[user]
  name = "Alexander Martin"
  email = "alex@onthe.computer"

[diff-so-fancy]
  markEmptyLines = false

[core]
  pager = "diff-so-fancy | less --tabs=4 -RF"

[interactive]
  diffFilter = "diff-so-fancy --patch"
