# cat
function smart_cat() {
  local last_arg="${@: -1}"

  if [[ -f "$last_arg" && "$last_arg" =~ \.(md|markdown|mdown|mkd)$ ]]; then
    glow --width=$COLUMNS --style=${CONFIG_ROOT}/glow/almartin.json "$@"
  else
    bat "$@"
  fi
}
alias lcat="/bin/cat"
alias cat="smart_cat"
alias c="cat"

# ls
alias lls="/bin/ls"
alias ls="eza --icons --tree --level=0 -a --sort=type"
alias la="ls -la"      # detailed list
alias ll="ls -l"      # long format

# top
alias ltop="/usr/bin/top"
alias top="btm"

# grep
alias lgrep="/usr/bin/grep"
alias grep="rg"

# git
alias g="git"
alias gc="git commit"

# env
function cenv() {
  env -0 |\
    sort -z |\
    tr '\0' '\n' |\
    sed -E $'s/^([^=]+)(=)(.*)/\033[33m\\1\033[0m\033[37m\\2\033[0m\033[32m\\3\033[0m/'
}
alias lenv="/usr/bin/env"
alias env=cenv

# tldr
alias help=tldr
alias h=tldr

#shortcuts
alias reload="source ~/.zshrc"
alias edit="$EDITOR"
alias path='echo -e ${PATH//:/\\n}'

# date
alias now='date +"%T"'
alias today='date +"%d-%m-%Y"'
alias timestamp="date +%s"
alias iso="date -u +%Y-%m-%dT%H:%M:%SZ"

#cd
alias cd="z"
alias ~="cd ~"
alias -- -="cd -"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

# util
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -"
alias ports="sudo lsof -iTCP -sTCP:LISTEN -n -P"
alias ip="curl -s https://ipinfo.io/ip"
alias lip="ifconfig | rg -o 'inet (addr:)?([0-9]*\.){3}[0-9]*' | rg -o '([0-9]*\.){3}[0-9]*' | rg -v '127.0.0.1'"
alias server="python3 -m http.server"
alias uuid="uuidgen | tr '[:upper:]' '[:lower:]'"

# colors
function colors() {
  for i in {0..255}; do
    printf "\e[38;5;${i}m%3d " $i
    # Print newline every 16 colors to create table rows
    (( (i + 1) % 16 == 0 )) && echo
  done
  echo -e "\e[0m" # Reset color
}
